.header-desktop {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    top: -15px;
    /* flex-wrap:wrap; */
}

.header-desktop-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    gap: 30px;
    
    /* flex-wrap:wrap; */
}

.header-desktop-right p {
    color: #FFF;
    font-family: Acme;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    
}

.header-desktop-left {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 40px;
    top: -0.1000rem;

}

.header-desktop-left p {
    color: #FFF;
    font-family: Acme;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.header-desktop-right-last-element{
    margin-right: 20px;
}
.mobile-toggle{
    position: absolute;
    color: #FFF;
    top: 30px;
    right: 1px;
}
@media  (max-width: 768px) {
    .header-desktop-left {
        left: 10px;
        top: 0;
    }
    .mobile-toggle{
        top: 32px;
        right: 1px;
        width: 20px;
        height: 20px ;
    }
    
}